.breadcrumb {
    padding: 50px 0;
}
.breadcrumb-item{
    a {
        color: $primary;
        text-decoration: none;
    }
    &.active a {
        color: gray;
        text-decoration: none;
    }
} 